
{{!--<h1 id="Teacher">--}}
       {{!-- //<a href="/">Teacher Sync</a>
      </h1>--}}
<body>

   <div class="background">
        <img src="images/2.jpeg" alt="brown backdrop">
    </div>

     <div class="Welcome">
     <h1>Welcome to Teacher Sync</h1> 
    </div>

    
    <div class="login-box">
    <div class="logo">
        <img src="images/120704778_padded_logo.png" alt="logo">
    </div>

     
   
     
<div class="section">
    <ul>

    <li class="login"> <a href="/login">Login</a> </li>
   <li> <a href="/register">Don't Have an Account? Register</a> </li>
   </ul>
</div>

</div>

   
    


</body>

