
{{!--<h1 id="Teacher">--}}
       {{!-- //<a href="/">Teacher Sync</a>
      </h1>--}}
<body>

    <head></head>

     <h1>Welcome to Teacher Sync</h1> 

    <img src="teacher-sync-logo.png">
    
    
    <div class="section">
    <a href="/login">login</a>
    <a href="/register">register</a>
</div>
   
    


</body>
