  
  <body>
<div class="row">
  <div class="col-md-6">
   
   
   
     
 

    <div class="background">
    <img src="images/2.jpeg" alt="cartoon classroom"> </div>
     <div class="login-box">
      <h2>Signup</h2>
    

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Firstname:</label>
        <input class="form-input" type="text" id="teacher_name" />
      </div>
      <div class="form-group">
        <label for="email-signup">Username:</label>
        <input class="form-input" type="text" id="username" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>
  </div>
  
  </body>

<script>
    
    const signupFormHandler = async (event) => {
        console.log('REGISTER BUTTON WAS CLICKED')
        event.preventDefault();

        const teacher_name = document.getElementById('teacher_name').value.trim();
        const username = document.getElementById('username').value.trim();
        const password = document.getElementById('password').value.trim();
        

        if (teacher_name && username && password) {
            let response;
            try {
                response = await fetch('/api/auth/register', {
                method: 'POST',
                body: JSON.stringify({ teacher_name, username, password }),
                headers: { 'Content-Type': 'application/json' },
                });

                if (response.ok) {
                document.location.replace('/grades');
                } 

            } catch (err) {
                console.log(err);
                alert(response.statusText);
            }
            
        }
    };

    document
    .querySelector('.signup-form')
    .addEventListener('submit', signupFormHandler);

</script>