body  {
 /*   background-image:  url(images/pexels-mudassir-ali-2680270.jpg); */
  background-color: rgb(158, 193, 219);
    
}

img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-left: 460px;

}

h1 {
    color: black;
}

.no-button {
  color: black;
  font-weight: bold;

}

.teacherButton {
    color: black;
    font-weight: bold;
    padding: 10px 5px;
}

.studentButton {
    color: black;
    font-weight: bold;
    padding: 10px 5px;
}

.gradesButton {
    color:black;
    font-weight: bold;
    padding: 10px 5px;
}

.attendanceButton {
    color: black;
    font-weight: bold;
    padding: 10px 5px;
}

.conductButton {
    color: black;
    font-weight: bold;
    padding: 10px 5px;
}

.reportButton {
    color: black;
    font-weight: bold;
    padding: 10px 5px;
}

label {
    color: black;
    font-weight: bold;
    padding: 10px;
}