.background{
    background-image: url(images/2.jpeg);
    
    background-position: center;
    background-size: cover;
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.login-box{
    width: 320px;
    height: 390px;
    background: rgb(238, 205, 168);
    box-shadow: 5px 10px 20px rgba(0,0,0,0.6);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* margin-left: 540px; */
    /* position: absolute;
    top: 275px; */
    opacity: 85%;

    position: absolute;
   top: 60%;
   left: 58%;
   margin-top: -170px;
   margin-left: -300px;
    

}


    


h2 {
    margin-top: 10px;
    margin-left: 39%;
    font: size 22px;
    cursor: pointer;

}

h3,input {
    margin-left: 30px;

}

h3{
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

input {
    width: 80%;
    height: 20px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-bottom: solid rgb(7, 6, 4);
    color: rgb(23, 16, 11);
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 3px;
    margin-bottom: 15px;
    transition: 0.4s ease;
}

input:hover {
    border-bottom:solid #000;
}

::placeholder {
    color: rgb(239, 239, 239);
}

i{
    color: #fff;
    margin-left: -20px;

}

button{
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background: rgb(39, 33, 33);  
 
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 100px;
}

button:hover{
    color:rgb(0, 0, 0);
    background: #fff;
    

}

h2 {
    color: rgb(39, 33, 33);
    padding-top: 50px;
}

.form-group {
    margin-left: 20px;
    color: rgb(27, 18, 6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    opacity: 85%;
}